---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="THESGO | FUELING THE PASSION FOR ESPORTS">
	<Header />
	<main>
		
	</main>
</Layout>
