---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import HeroSection from '../components/Hero/HeroSection.astro';
import SponsorSection from '../components/Sponsor/SponsorSection.astro';

---

<Layout title="THESGO | FUELING THE PASSION FOR ESPORTS">
	<Header />
	<main>
		<HeroSection />
		<SponsorSection />
	</main>
</Layout>
