---
const infoMessage = 'Mensaje informativo';
---

<div class="flex items-center justify-center bg-yellow-500 p-2 text-black">
    <p class="text-sm md:text-base font-semibold mx-auto">{infoMessage}</p>
</div>