--- 
// aca vamos a la seccion de login
---

<div class="flex items-center space-x-2 mx-5">
  <input type="text" placeholder="Usuario" class="px-1 py-1 text-sm rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 transition duration-300" />
  <input type="password" placeholder="Contraseña" class="px-1 py-1 text-sm rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 transition duration-300" />
  <button class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 text-sm rounded transition duration-300">Ingresar</button>
  <button class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 text-sm rounded transition duration-300">Registrarse</button>
</div>