---

---

<a
class="flex-row justify-center 
    text-white cursor-pointer 
    hover:bg-sky-600 focus:ring-4 
    focus:outline-none 
    focus:ring-[#1da1f2]/50 
    font-normal 
    rounded-lg 
    px-2 py-1.5
    text-center 
    inline-flex 
    items-center 
    dark:focus:ring-[#1da1f2]/55 
    mr-0.5
    mb-2
    hover:shadow-lg 
    transition-all 
    duration-300
    ease-in-out
    hover:scale-80
    scale-60 
    gap-x-1 opacity-90 hover:opacity-100">
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>