---
import Logo from "./Logo.astro";
import InfoHeader from "./InfoHeader.astro";
import LoginSection from "./LoginSection.astro";
---

<InfoHeader />
<header class="flex flex-row items-center justify-between">
    <div class="w-96">
        <Logo />
    </div>
    <nav class="flex items-center justify-end">
        <a href="#" class="text-white mr-5">Home</a>
        <a href="#" class="text-white">Torneos</a>
        <a href="#" class="text-white">Ranking</a>
        <a href="#" class="text-white">Noticias</a>
    </nav>
    <LoginSection />

</header>
