---
import Logo from "./Logo.astro";
import InfoHeader from "./InfoHeader.astro";
import LoginSection from "./LoginSection.astro";
---

<InfoHeader />
<header class="flex flex-row items-center justify-between" style="background: linear-gradient(to right, #273C75, #2C3E50);">
    <div class="w-96">
        <Logo />
    </div>
    <nav class="flex items-center justify-end ">
        <a href="#" class="text-white mr-4 bg-gray-800 p-4 hover:bg-gray-700 hover:text-gray-300 transition-colors duration-200">Home</a>
        <a href="#" class="text-white mr-4 bg-gray-800 p-4 hover:bg-gray-700 hover:text-gray-300 transition-colors duration-200">Torneos</a>
        <a href="#" class="text-white mr-4 bg-gray-800 p-4 hover:bg-gray-700 hover:text-gray-300 transition-colors duration-200">Ranking</a>
        <a href="#" class="text-white bg-gray-800 p-4 hover:bg-gray-700 hover:text-gray-300 transition-colors duration-200">Noticias</a>
    </nav>
    <LoginSection />

</header>
