---
const infoMessage = 'This is a message from the server';
---

<div class="flex items-center justify-center bg-yellow-500 p-4 text-black">
    <p class="text-sm md:text-base font-semibold mx-auto">{infoMessage}</p>
</div>