---
import { news } from '../../mocks/results.json';

console.log(news);
---

<div class="sponsor-component p-4 lg:w-1/4 md:w-1/2 w-full items-center justify-center">
    <h2
        class="text-2xl font-bold title-font mb-4 text-gray-100 text-center">
        Noticias
    </h2>


</div>